#Ignore Hidden MacOS System Files
.DS_Store
#Ignore Sensitive Files with Keys, Passwords etc.
*/*/data/
!*/*/data_example.py
common/secrets.py
# The prepending ! will make sure the example is tracked properly.
!common/secrets_example.py
